<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Day3_SEP19_2020/src/com/day3/SortTheArray.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.day3.SortTheArray"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Day3_SEP19_2020"/>
</launchConfiguration>
